@page "/apps"

<div class="post-wrap">
    <h2 class="post-title">-&nbsp;Apps&nbsp;-</h2>
    <ul>
        <li>
            <a target="_blank" class="paper-btn margin" href="https://support.qq.com/products/168680">⚡~~~吐个槽_留言板~~~⚡</a>
        </li>
        <li>
            <NavLink class="paper-btn margin" href="/hot">🚀~~~每日热点~~~🚀</NavLink>
        </li>
        <li>
            <NavLink class="paper-btn margin" href="/wallpaper">📱~~~手机壁纸~~~📱</NavLink>
        </li>
        <li>
            <NavLink class="paper-btn margin" href="/soul">🐔~~~剧毒鸡汤~~~🐔</NavLink>
        </li>
        <li>
            <a href="javascript:;" class="paper-btn margin" @onclick="async ()=>await AddSongsAsync()">🎵~~~换一批歌~~~🎵</a>
        </li>
        <li>
            <NavLink class="paper-btn margin" href="/friendlinks">💕~~~友情链接~~~💕</NavLink>
        </li>
    </ul>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        await Common.SetTitleAsync();
    }
    private async Task<int> AddSongsAsync()
    {
        var count = 0;
        var songs = (await Http.GetFromJsonAsync<ServiceResult<IEnumerable<FMDto>>>($"/fm/random")).Result;
        if (songs != null && songs.Any())
        {
            count = songs.Count();
            var ap = songs.Select(p => new
            {
                name = p.AlbumTitle,
                artist = p.Artist,
                url = p.Url,
                lrc = p.Lyric,
                cover = $"https://images.weserv.nl/?url={p.Picture}"
            }).ToArray();
            await Common.AddAplayerAsync(ap, true);
        }
        return count;
    }
}