@page "/apps"

<div class="post-wrap">
    <h2 class="post-title">-&nbsp;Apps&nbsp;-</h2>
    <ul>
        <li>
            <a target="_blank" class="paper-btn margin" href="https://support.qq.com/products/168680">⚡~~~吐个槽_留言板~~~⚡</a>
        </li>
        <li>
            <NavLink class="paper-btn margin" href="/hot">🚀~~~每日热点~~~🚀</NavLink>
        </li>
        <li>
            <NavLink class="paper-btn margin" href="/friendlinks">💕~~~友情链接~~~💕</NavLink>
        </li>
    </ul>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        await Common.SetTitleAsync("😍🏀💻🕹");
    }
}