@page "/"
@inherits IndexBase
<style>
    body {
        background-color: rgba(0,0,0,0.3);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-position: center 0;
        background-image:url(@BgImage)
    }
    .center {
        color: #fefefe;
        font-size: 1rem;
        text-align: center;
        background-color: rgba(0,0,0,0.3);
        border-radius: 1.5em;
        color: #fefefe;

    }
</style>

<div class="intro center">
    <div class="avatar">
        <a href="javascript:;">
            <img src="./images/avatar.jpg" />
        </a>
    </div>
    <div class="nickname">抵拢倒拐</div>
    <div class="description">
        <p>
            若无因缘,何以相遇,若无相欠,怎会相见。
            <br>Destiny brings us together.
        </p>
    </div>
    <div class="links">
        <NavLink class="link-item" title="Posts" href="posts">
            <i class="iconfont iconread"></i>
        </NavLink>
        <NavLink target="_blank" class="link-item" title="Notes" href="https://dldg.ink/">
            <i class="iconfont iconnotes"></i>
        </NavLink>
        <NavLink target="_blank" class="link-item" title="API" href="https://api.dldg.ink">
            <i class="iconfont iconapi"></i>
        </NavLink>
        <NavLink class="link-item" title="Manage" href="/auth">
            <i class="iconfont iconcode"></i>
        </NavLink>
        <NavLink target="_blank" class="link-item" title="Github" href="https://github.com/cddldg">
            <i class="iconfont icongithub"></i>
        </NavLink>
        <NavLink class="link-item weixin" title="扫码关注微信公众号：『抵拢倒拐』查看更多。" @onmouseover="Hover" @onmouseout="Hover">
            <i class="iconfont iconweixin"></i>
        </NavLink>
        <NavLink target="_blank" class="link-item" title="知乎" href="https://www.zhihu.com/people/dldg-55">
            <i class="iconfont icon-zhihu"></i>
        </NavLink>
        <div class="qrcode @QrCodeCssClass">
            <img src="./images/wx_qrcode.jpg" />
        </div>
    </div>
</div>
<div style="position:absolute;right:0px;bottom:0px;width:120px;overflow:hidden;font-size:6px">
    <a href="http://beian.miit.gov.cn/" target="_blank">蜀ICP备17042511号-1</a>
</div>